.card {
  display: flex;
  width: 560px;
  height: 200px;
  gap: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.03);
    box-shadow: -2px 8px 10px 3px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: -2px 8px 10px 3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -2px 8px 10px 3px rgba(0, 0, 0, 0.45);
  }
  .image {
    width: 150px;
    height: 150px;
    border-radius: 16px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  h1 {
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    color: #000000;
  }
  p {
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #7b7b7b;
  }
  .details {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  button {
    width: 120px;
    height: 40px;
    background-color: white;
    color: #f07987;
    border: 2px solid #f07987;
    box-sizing: border-box;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: #f07987;
      color: white;
    }
  }
}
